@import "../colors";
@import "../fonts";

.btn-container{
    max-width: 100%;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    color: $primary_color;
    padding:9px 20px;
    background: 0 0;
    border-radius: 100px;
    border: 2px solid $primary_color;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    font-family: $primary_font_family;
}